  <!-- 
------- HEADER ------------
Filename: bottom_nav.ejs
Student name: Amanda Yuri Monteiro Ike
Student ID: 301257019
Date: February, 2023 
---------------------------
-->

  <!--Bottom Nav -->
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <p class=".fs-6 text-muted fst-italic">&copy; Copyright 2023. All rights reserved.</p>
  </nav>
  <!--Bottom Nav END-->