
<div class="jumbotron">
    <h6 class="display-6"><%= title %></h6>
</div>

<div class="card-group overflow-y-scroll">
    <div class="card">
      <img src="Assets/images/nubank-logo.png" class="card-img-top" alt="Nubank logo" height="180px">
      <div class="card-body">
        <h5 class="card-title">Integration project (AZURE -> AWS)</h5>
        <p class="lead"> Analytics Engineer role </p>
        <p class="card-text">Project focused on integrate main datasets from Azure Platform (Easynvest stack) to AWS Platform (Nubank stack). </p>
        <p class="card-text">Outcome: integrate investments data from stockbroker Easynvest to Nubank in order to aggregate all data in one single platform to facilitate all upcome data projects. </p>
        
        <p class="card-text"><small class="text-muted">2022, Brazil-Sao Paulo</small></p>
      </div>
    </div>


    <div class="card">
      <img src="Assets/images/easynvest-logo.png" class="card-img-top" alt="Easynvest logo" height="180px">
      <div class="card-body">
        <h5 class="card-title">Data Lake</h5>
        <p class="lead"> Data Engineer role </p>
        <p class="card-text">Modification and creation of dataset on Azure Platform to provide data to Data Scientist's team. Worked on designing,
            analyzing, development and maintenance of dataset</p>
        <p class="card-text">Outcome: Provided data solution more flexible and performant than Data Warehouse on Oracle database. </p>
        
        <p class="card-text"><small class="text-muted">2021, Brazil-Sao Paulo</small></p>
      </div>
    </div>


    <div class="card">
      <img src="Assets/images/Accenture-logo.png" class="card-img-top" alt="Accenture logo" height="180px">
      <div class="card-body">
        <h5 class="card-title">Natura project</h5>
        <p class="lead"> Consultant leader</p>
        <p class="card-text">Creation of a planning system to production and logistic of Natura's products. Provide training more than 30 latin america's users.</p>
        <p class="card-text">Outcome: Increased performance and consistency of planning process envolving production and logistic.</p>
        <p class="card-text"><small class="text-muted">2019, Brazil-Sao Paulo</small></p>
      </div>
    </div>

    <hr class="my-4">
    
    <p> </p>
    <p> </p>
  </div>