<div class="jumbotron">
    <h4 class="display-4"><%= title %></h4>
    <p class="lead"> <%= info_page %> </p>

    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Microsoft Azure</li>
        <li class="list-group-item">Databricks</li>
        <li class="list-group-item">PySpark</li>
        <li class="list-group-item">Oracle Database</li>
        <li class="list-group-item">Talend Open Studio</li>
        <li class="list-group-item">Airflow</li>
        <li class="list-group-item">Data modeling</li>
        <li class="list-group-item">ETL</li>
        </ul>
    </div>
<div class="jumbotron"></div>