/* 
------- HEADER ------------
Filename: app.css
Student name: Amanda Yuri Monteiro Ike
Student ID: 301257019
Date: February, 2023 
*/

/* custom css goes here */

.circle {
    height: 35px;
    width: 50px;
    background-color: #696969;
    border-radius: 30%;
    text-align: center;
    position: center;
}